@import url('https://fonts.googleapis.com/css?family=Kantumruy&display=swap');

$multiply-font-scale: 1.414;
$default-font-size: 16px;
$default-font-scale: $mutliply-font-scale;

$default-line-height: 31px;
$h6-line-height: $default-line-height * $default-font-scale;
$h5-line-height: $h6-line-height * $default-font-scale;
$h4-line-height: $h5-line-height * $default-font-scale;
$h3-line-height: $h4-line-height * $default-font-scale;
$h2-line-height: $h3-line-height * $default-font-scale;
$h1-line-height: $h2-line-height * $default-font-scale;

$h6: $default-font-size * $default-font-scale;
$h5: $h6 * $default-font-scale;
$h4: $h5 * $default-font-scale;
$h3: $h4 * $default-font-scale;
$h2: $h3 * $default-font-scale;
$h1: $h2 * $default-font-scale;

$primary-color: #0339A6;
$secondary-color: #D9042B;
$tertiary-color: white;
$contrast-secondary-color: #737373;
$contrast-tertiary-color: #0D0D0D;

/* Mobile */
@media only screen and (max-width: 767px) {
  
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {

}

p .p {
    font-size: $default-font-size !important;
    line-height: $default-line-height !important;
  }
  
  h6,
  .h6 {
    font-size: $h6 !important;
    line-height: $h6-line-height !important;
    font-weight: bold;
  }
  
  h5,
  .h5 {
    font-size: $h5 !important;
    line-height: $h5-line-height !important;
    font-weight: bold;
  }
  
  h4,
  .h4 {
    font-size: $h4 !important;
    line-height: $h4-line-height !important;
    font-weight: bold;
  }
  
  h3,
  .h3 {
    font-size: $h3 !important;
    line-height: $h3-line-height !important;
    font-weight: bold;
  }
  
  h2,
  .h2 {
    font-size: $h2 !important;
    line-height: $h2-line-height !important;
    font-weight: bold;
  }
  
  h1,
  .h1 {
    font-size: $h1 !important;
    line-height: $h1-line-height !important;
    font-weight: bold;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .no-margin {
    margin: 0;
  }
  
  .not-bold {
    font-weight: normal;
  }
  