@import 'variable';

* {
  font-size: $default-font-size !important;
  font-family: 'Kantumruy', sans-serif !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

.ui.grid.segment {
  margin: 0;
  border-radius: .28571429rem;
  border: none;
}
.ui.menu>.container, .ui.menu>.grid {
  width: 100%;
}
.ui.menu .menu {
  float: right;
  margin: 0;
  width: 35px;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
   border-radius: none;

}