@import 'variable';

* {
  font-size: $default-font-size !important;
  font-family: 'Kantumruy', sans-serif !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

.ui.grid {
  margin: 0 0;
  padding: 0 0;
}